.rootVoltar {
    background-color: #F2F2F2 !important;  
}

.rootEditar {
    background-color: #5289B5 !important;
    color:#F2F2F2 !important;
}

.rootRemover {
    background-color: rgba(255, 0, 0, 0.72) !important;
    color:#F2F2F2 !important;
}

.rootCard {
    background-color: #3C4B54 !important;
}