.rootButton {
    background-color: #F2F2F2;
    
}

.rootEditar {
    background-color: #5289B5;
    color:#F2F2F2;
    

}

.rootVoltar {
    background-color: rgba(255, 0, 0, 0.72);
    color:#F2F2F2;

}